.mainSection {
    padding: 40px;

}

.searchResultsContainer {
    max-width: 1100px !important;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    flex: 1;
    margin-top: 40px;
    margin-bottom: 40px;
}

.resultsTitle {
    border-bottom: 1px solid #444;
    margin-bottom: 20px;
}

.resultsTitle h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.resultsContent {
    display: flex;
    gap: 40px;
}

.resultsLeft {
    flex: 3;
}

.resultCard {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.resultCard:hover {
    transform: translateY(-5px);

    .thumbnail {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px #ffe26c;
    }
}

.thumbnail {
    width: 120px;
    height: 180px;
    background-color: #3e3c46;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.resultInfo {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 400px;
}

.resultInfo h3 {
    font-size: 25px;
    margin-bottom: 2px;
}

.resultInfo p {
    font-size: 18px;
    line-height: 1.4;
}

.badge-search {
    background-color: #555;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 16px;
}

.seeMore {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    background-color: #ffe26c;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.seeMore:hover {
    background-color: #ffd736;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.resultsSidebar {
    flex: 1;
    background-color: #19191d54;
    padding: 20px;
    border-radius: 6px;
    height: min-content;
}

.resultsSidebar h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.filterList {
    list-style: none;
    padding: 0;
    color: rgb(192, 192, 192);
}

.filterList li {
    margin: 14px 0;
    font-size: 18px;
    cursor: pointer;
}

.filterList li:hover {
    text-decoration: bold;
    color: #ffe26c;
    transition: all .3s ease-in-out;
}

@media (max-width: 1024px) {
    .resultsContent {
        gap: 20px;
    }

    .resultInfo {
        max-width: 100%;
    }

    .thumbnail{
        width: 390px;
        height: 240px;
    }
}

@media (max-width: 768px) {
    .resultsContent {
        flex-direction: column;
    }

    .resultsLeft,
    .resultsSidebar {
        width: 100%;
    }

    .resultCard {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .thumbnail {
        width: 160px;
        height: 240px;
    }

    .resultInfo {
        padding: 10px 0;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .resultsTitle h2 {
        font-size: 16px;
    }

    .resultInfo h3 {
        font-size: 20px;
    }

    .resultInfo p {
        font-size: 16px;
    }

    .filterList li {
        font-size: 16px;
    }

    .thumbnail {
        width: 120px;
        height: 180px;
    }

    .seeMore {
        width: 100%;
        font-size: 18px;
    }
}