.preferencesContent {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 450px;
    margin-top: 20px;
}

.preferenceOption {
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 20px;
    justify-content: space-between;

    P {
        font-size: 20px;
        color: black;
        font-weight: bold;
    }
}

body{
    max-height: clamp(150px, 10vh, 500px);
}

/* DROPDOWN */
.languageSelector {
    position: relative;
    flex-direction: column;
    gap: 10px;
}

#languageToggle {
    background-color: lightgray;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    width: 100%;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
        font-size: 25px;
    }
}

#languageOptions {
    list-style: none;
    margin: 0;
    padding: 0;
    /* background-color: #d3d3d3; */
    background-color: #363541;
    border-radius: 5px;
    width: 100%;

    li {
        padding: 20px 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        transition: color 0.3s ease;
    }

    li:hover {
        background-color: #4d4c57;
        border-radius: 5px;
    }
}


#languageOptions li#selectedLanguage {
    color: #fada5e;
    font-weight: bold;
}

.hidden {
    display: none;
}


/* SLIDER TOGGLE */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1b25;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #fada5e;
}

input:focus+.slider {
    box-shadow: 0 0 1px #fada5e;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

footer{
    margin-top: 215px;
}

/* responsividade language */

@media(max-width: 320px){
    .preferenceOption {
        display: block;
        max-width: 200px !important;
    }

    .logo{
        width: 230px;
        height: 70px;
    }

    .settingsNav{
        gap: 10px;
        a{
          font-size: 15px;  
        }
    }

    header{
        width: 100dvw;
    }

    footer{
        width: 100dvw;
        margin-top: 150px;
    }

    .preferencesContent{
        display: block;
        max-width: 200px !important ;
    }

    .upInfo {
        flex-direction: column;
        gap: 40px !important;
        flex-wrap: wrap;
      }
    
      .copyright {
        p {
          text-align: center;
        }
      }

      .socials{
          text-align: center;
      }

      .browseLinks{
          display: flex;
          width: 150px;
          gap: 50px !important;
          margin-right: 150px;
      } 
}

@media(max-width:375px) {
    .preferencesContent{
        display: block;
        max-width: 250px ;
    }

    .preferenceOption {
        display: block;
        max-width: 230px ;
    }

    footer{
        width: 100dvw;
        margin-top: 150px;
    }

    .upInfo {
        flex-direction: column;
        gap: 40px !important;
        flex-wrap: wrap;
      }
    
      .copyright {
        p {
          text-align: center;
        }
      }

      .socials{
          text-align: center;
      }

      .browseLinks{
          display: flex;
          width: 150px;
          gap: 50px !important;
          margin-right: 150px;
      } 
}

@media(max-width:425px){
    .preferenceOption {
        display: block;
        max-width: 250px;
    }

    .preferencesContent{
        display: block;
        max-width: 250px;
    }

    footer{
        width: 100dvw;
        margin-top: 150px;
    }

    .upInfo {
        flex-direction: column;
        gap: 40px !important;
        flex-wrap: wrap;
      }
    
      .copyright {
        p {
          text-align: center;
        }
      }

      .socials{
          text-align: center;
      }

      .browseLinks{
          display: flex;
          width: 150px;
          gap: 50px !important;
          margin-right: 150px;
      } 
}

@media(max-width:768px){
    .preferenceOption {
        display: block;
        max-width: 300px ;
    }

    .preferencesContent{
        display: block;
        max-width: 300px !important;
    }

    footer{
        width: 100dvw;
        margin-top: 150px;
    }

    .upInfo {
        flex-direction: column;
        gap: 40px !important;
        flex-wrap: wrap;
      }
    
      .copyright {
        p {
          text-align: center;
        }
      }

      .socials{
          text-align: center;
      }

      .browseLinks{
          display: flex;
          width: 150px;
          gap: 50px !important;
          margin-right: 150px;
      } 
}

@media(max-width:1024px) {
    

    

    footer{
        width: 100dvw;
        margin-top: 300px;
    }

    .upInfo {
        flex-direction: column;
        gap: 40px !important;
        flex-wrap: wrap;
      }
    
      .copyright {
        p {
          text-align: center;
        }
      }

      .socials{
          text-align: center;
      }

      .browseLinks{
          display: flex;
          width: 150px;
          gap: 50px !important;
          margin-right: 150px;
      } 
}