@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.profilePage {
  /* background: #2b2a33; */
  color: #fff;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to bottom, #d1b241 0%, #1c1b25 100%);
  color: #fff;
  height: 350px;
}

.profileInfo {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 20%;
}

.follows {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.profileAvatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ccc;
}

.userDetails h1 {
  margin-bottom: 10px;
  font-size: 1.6em;
}

.userDetails span {
  font-size: 1.2em;
  color: #ccc;
}

.userDetails p {
  margin-top: 30px;
  font-size: 1.0 em;
  color: #ccc;
}

.profileStats {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 20%;
}

.stat {
  text-align: center;
}

.stat strong {
  display: block;
  font-size: 1.8em;
  margin-bottom: 8px;
}

.stat span {
  font-size: 1.2em;
  color: #ccc;
}

.button {
  font-size: 1.0em;
  color: white;
  background: #bfbfbf;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  height: 65px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #4d4c57;
  transform: scale(1.03);
  color: #ffe26c;
}

.profileNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #4d4c57;
  padding: 10px 0;
  color: white;
  font-weight: bold;
  height: 60px;
  /* margin: 0 20% 20px 20%; */
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 1000px;
}

.profileNav a {
  text-decoration: none;
  font-size: 1.4em;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  display: inline-block;
  color: white;
}

.profileNav a:hover {
  color: #b4b4b4;
}

.profileNav a[href="#"] {
  color: #ffe26c;
}

.profileContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
  justify-content: center;
  justify-items: center;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 2 / 3;
  /* ou use 5 / 7, se preferir a proporção exata anterior */
  background-color: #3e3c46;
  border-radius: 8px;
  overflow: hidden;
  display: block;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 10px #ffe26c;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.listProfileContent {
  /* margin: 0 20% 0 20%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  justify-content: center;
  justify-items: center;
}


.listCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 20px;
  text-decoration: none;
  width: 200px;
  gap: 10px;
  padding: 20px;
}

.listCard:hover {
  transform: translateY(-5px);
  transition: all .3s ease-in-out;
  box-shadow: 0 2px 10px #ffe26c;

  h3 {
    color: #ffe26c;
  }


}

.listCard img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

.listCard h3 {
  font-size: 25px;
  transition: all .3s ease-in-out;
}

.listCard .user {
  display: flex;
  flex-direction: row;
  align-items: center;


  img {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    margin-right: 10px;
  }
}

.create {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 40px;
  align-items: center;
  font-size: 2.5rem;
  color: #fff;
  background-color: #2a2931;
  border: 2px dashed #ffe26c;
  cursor: pointer;

  i {
    font-size: 75px;
    transition: all .3s ease-in-out;
  }
}

.create:hover {
  background-color: #3e3c46;
  box-shadow: 0 2px 12px #ffe26c;

  i {
    color: #ffe26c;
  }
}



.commentSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewCard {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  background-color: transparent;
  padding: 1rem 0;

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    display: block;
  }
}

.movieThumbnail {
  width: 180px;
  height: 240px;
  background-color: #3e3c46;
  border-radius: 6px;
}

.reviewMain {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: min-content;
}

.reviewTitle {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 1.1rem;
  margin-top: 0.8rem;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.1rem;
}

.userAvatarCircle {
  width: 40px;
  height: 40px;
  background-color: #3d3a49;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.85rem;
  gap: 25px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.stars {
  color: gold;
  font-size: 0.9rem;
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentAndActions {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  width: 550px;
}

.like i {
  font-size: 25px;
  margin-bottom: 5px;
  transition: all .3s ease-in-out;
}

.like i:hover {
  color: #ffe26c;
  cursor: pointer;
}

.comment {
  flex: 1;
  background: #444150;
  border: 1px solid rgba(255, 255, 255, 0.267);
  padding: 0.7rem;
  border-radius: 6px;
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 0;
  min-height: 100px;
  text-align: start;
  min-width: 60%;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.2rem;
  gap: 0.4rem;
}

.actions span {
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 0.7rem;
  transition: transform 0.2s;
}

.actions span:hover {
  transform: scale(1.1);
}

.editProfile {
  font-size: 1.3em;
  color: white;
  background: #bfbfbf;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
  height: 50px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
  display: flex;
}

.editProfile:hover {
  background-color: #4d4c57;
  transform: scale(1.03);
  color: #ffe26c;
}

@media (max-width: 1024px) {
  .profileHeader {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 40px 20px;
    text-align: center;
  }

  .profileInfo {
    flex-direction: column;
    margin: 0;
    gap: 15px;
  }

  .profileStats {
    margin: 20px 0 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .profileNav {
    margin: 0 10% 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .profileNav.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 95%;
  }

  .profileContent,
  .listProfileContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 0 10px;
  }

  .card,
  .listCard,
  .create {
    width: 100%;
    max-width: 220px;
    margin: 10px;
  }

  .listCard img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .create {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #2a2931;
    border: 2px dashed #ffe26c;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }

  .create i {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  .reviewCard {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .movieThumbnail {
    width: 100%;
    max-width: 220px;
    height: auto;
  }

  .reviewMain,
  .commentAndActions {
    width: 100%;
    max-width: 90%;
  }

  .commentAndActions {
    flex-direction: column;
    align-items: stretch;
  }

  .comment {
    width: 100%;
    min-width: unset;
  }
}

@media (max-width: 600px) {
  .profileHeader {
    padding: 30px 10px;
  }

  .profileInfo {
    gap: 10px;
  }

  .profileAvatar {
    width: 130px !important;
    height: 130px !important;
  }

  .userDetails h1 {
    font-size: 1.3em;
  }

  .userDetails span,
  .userDetails p {
    font-size: 1em;
  }

  .profileStats {
    flex-direction: column;
    gap: 15px;
  }

  .profileNav a {
    font-size: 1.1em;
  }

  .card,
  .listCard,
  .create {
    max-width: 100%;
    margin: 10px;
  }

  .listCard {
    width: 230px;
    height: 300px;
  }

  .card {
    width: 105px;
    height: 135px;
  }

  .listCard img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .create {
    padding-top: 40px;
    font-size: 1.8rem;
  }

  .create i {
    font-size: 2.5rem;
  }

  .reviewTitle {
    font-size: 1.2rem;
  }

  .stars {
    justify-content: center;
    width: 100%;
  }

  .userInfo {
    flex-direction: column;
    gap: 10px;
  }

  .commentAndActions {
    gap: 0.5rem;
  }

  .like i {
    font-size: 20px;
  }
}

/* responsividade reviews*/
@media(max-width:425px) {
  footer {
    width: 100dvw;
  }

  .upInfo {
    flex-direction: column;
    gap: 40px !important;
    flex-wrap: wrap;
  }

  .copyright {
    p {
      text-align: center;
    }
  }

  .socials {
    text-align: center;
  }

  .browseLinks {
    display: flex;
    width: 150px;
    gap: 50px !important;
    margin-right: 150px;
  }

  .reviewUser {
    margin-left: -180px !important;
  }

  .profileAvatar {
    width: 90px !important;
    height: 90px !important;
  }
}

@media(max-width:806px) {
  .profileNav {
    width: 650px;
  }
}

@media(max-width:378px) {
  .profileNav {
    width: 330px;
  }
}

@media(max-width:403px) {
  .profileNav {
    width: 315px;
  }
}

@media(max-width:662px) {
  .profileNav {
    width: 600px;
  }
}

@media(max-width:602px) {
  .profileNav {
    width: 550px;
  }

  .button {
    max-width: 120px;
    height: 55px;
    font-size: small;
  }

  .profileAvatar {
    width: 100px;
    height: 100px;
  }

  .profileInfo {
    display: flex;
    flex-direction: column;
  }

  .userDetails {
    margin-top: 20px;
  }

  .profileStats {
    flex-direction: row;
    display: flex;
    margin-top: 40px;
    gap: 40px;
    font-size: medium;
  }

  .stars {
    padding-top: 0px;
  }

  .userInfo {
    gap: 0px;
  }

  .reviewUser {
    margin-left: -340px;
  }
}

@media(max-width:564px) {
  .profileNav {
    width: 500px;
  }

  .reviewUser {
    margin-left: -290px;
  }
}

@media(max-width:530px) {
  .profileNav {
    width: 500px;
  }

  .reviewUser {
    margin-left: -290px;
  }
}

@media(max-width:504px) {
  .profileNav {
    width: 400px;
  }
}

@media(max-width:468px) {
  .profileNav {
    width: 400px;
  }

  .reviewUser {
    margin-left: -230px;
  }
}

@media(max-width:320px) {
  .button {
    max-width: 120px;
    height: 50px;
    font-size: small;
  }

  .profileAvatar {
    max-width: 90px !important;
    max-height: 90px !important;
  }

  .profileInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .userDetails {
    padding-top: 0px;
  }

  .profileStats {
    flex-direction: row;
    display: flex;
    margin-top: 40px;
    gap: 40px;
  }

  .stars {
    padding-top: 0px;
  }

  .userInfo {
    gap: 0px;
  }

  .reviewUser {
    margin-left: -100px !important;
  }


  /* header */
  .logo {
    width: 210px;
  }
}


@media(max-width:375px) {
  .button {
    max-width: 120px;
    height: 50px;
    font-size: small;
  }

  .profileAvatar {
    width: 90px !important;
    height: 90px !important;
  }

  /* .profileInfo {
    display: flex;
    flex-direction: row;
  } */

  .userDetails {
    padding-top: 0px;
  }

  .profileStats {
    flex-direction: row;
    display: flex;
    margin-top: 40px;
    gap: 40px;
  }

  .profileNav {
    width: 300px;
    margin-top: 150px;
  }

  .stars {
    padding-top: 0px;
  }

  .userInfo {
    gap: 0px;
  }

  .reviewUser {
    margin-left: -135px;
  }
}

@media(max-width:768px) {
  .profileAvatar {
    width: 130px;
    height: 130px;
  }

  .button {
    width: 140px;
    height: 50px;
  }
}


/* responsividade lists */
@media(max-width:320px) {
  .create {
    width: 190px;
    height: 230px;
  }

  .profileNav {
    width: 300px !important;
  }

  .browseLinks{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -45px !important;
  }

  .socials{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -65px !important;
    width: 90px;
  }

  footer{
    width: 100dvw;
    margin-top: 150px;
}
}

@media(max-width:375px) {
  .create {
    width: 180px !important;
    height: 220px !important;
  }

  .profileNav {
    width: 320px !important;
  }

  .browseLinks{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -15px;
    width: 200px;
  }

  .socials{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -30px;
  }

  footer{
    width: 100dvw;
    margin-top: 150px;
}
}

@media(max-width:399px) {
  .create {
    width: 190px !important;
    height: 230px !important;
  }

  .profileNav {
    width: 350px;
  }
}

@media(max-width:425px) {
  .create {
    width: 120px;
    height: 245px;
    margin-top: 29.5px;
  }

  .listCard {
    width: 185px;
    padding: 0px;
    margin: 30px;
  }

  .listProfileContent {
    margin-top: 40px;
  }

  .profileNav {
    width: 360px;
  }

  .browseLinks{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 95px;
    width: 200px;
  }

  .socials{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-right: 45px;
  }

  footer{
    width: 100dvw;
    margin-top: 150px;
}
}

@media(max-width:461px) {
  .create {
    width: 120px;
    height: 245px;
    margin-top: 29.5px;
  }

  .listCard {
    width: 185px;
    padding: 0px;
    margin: 30px;
  }

  .listProfileContent {
    margin-top: 40px;
  }

  .profileNav {
    width: 360px;
  }
}

@media(max-width:489px) {
  .create {
    width: 120px;
    height: 245px;
    margin-top: 29.5px;
  }

  .listCard {
    width: 185px;
    padding: 0px;
    margin: 30px;
  }

  .listProfileContent {
    margin-top: 40px;
  }

  .profileNav {
    width: 360px;
  }
}

@media(max-width:599px) {
  .create {
    width: 120px;
    height: 245px;
    margin-top: 29.5px;
  }

  .listCard {
    width: 185px;
    padding: 0px;
    margin: 30px;
  }

  .listProfileContent {
    margin-top: 40px;
  }

  .profileNav {
    max-width: 360px !important;
  }
}

@media(max-width:610px) {
  .create {
    width: 120px;
    height: 245px;
    margin-top: 29.5px;
  }

  .listCard {
    width: 180px;
    padding: 0px;
    margin: 30px;
  }

  .listProfileContent {
    margin-top: 40px;
  }

  .profileNav {
    width: 550px;
  }
}

@media(max-width:662px) {
  .create {
    width: 120px;
    height: 245px;
    margin-top: 29.5px;
  }

  .listCard {
    width: 180px;
    padding: 0px;
    margin: 30px;
  }

  .listProfileContent {
    margin-top: 40px;
  }

  .profileNav {
    width: 550px;
  }
}

@media(max-width:705px) {
  .create {
    width: 120px;
    height: 245px;
    margin-top: 29.5px;
  }

  .listCard {
    width: 180px;
    padding: 0px;
    margin: 30px;
  }

  .listProfileContent {
    margin-top: 40px;
  }

  .profileNav {
    width: 600px;
  }
}

@media(max-width:799px) {
  .create {
    width: 120px;
    height: 245px;
    margin-top: 29.5px;
  }

  .listCard {
    width: 180px;
    padding: 0px;
    margin: 30px;
  }

  .listProfileContent {
    margin-top: 40px;
  }

  .profileNav {
    width: 700px;
  }
}

@media(max-width:830px) {
  .create {
    width: 120px;
    height: 245px;
    margin-top: 29.5px;
  }

  .listCard {
    width: 180px;
    padding: 0px;
    margin: 30px;
  }

  .listProfileContent {
    margin-top: 40px;
  }

  .profileNav {
    width: 550px;
  }
}

@media(max-width:850px) {
  .create {
    width: 120px;
    height: 245px;
    margin-top: 29.5px;
  }

  .listCard {
    width: 180px;
    padding: 0px;
    margin: 30px;
  }

  .listProfileContent {
    margin-top: 40px;
  }

  .profileNav {
    width: 550px;
  }
}

@media(max-width:900px) {
  .create {
    width: 120px;
    height: 245px;
    margin-top: 29.5px;
  }

  .listCard {
    width: 180px;
    padding: 0px;
    margin: 30px;
  }

  .listProfileContent {
    margin-top: 40px;
  }

  .profileNav {
    width: 550px;
  }
}

@media(max-width:1024px) {
  .create {
    width: 120px;
    height: 250px !important;
    margin-top: 29.5px;
  }

  .listCard {
    width: 180px !important;
    padding: 0px;
    margin: 30px;
  }

  .listProfileContent {
    margin-top: 40px;
  }


}

@media(max-width:2000px) {
  .create {
    width: 200px;
    height: 270px;
    margin-top: 29.5px;
    justify-content: center;
  }

  .listCard {
    width: 200px;
    padding: 0px;
    margin: 30px;
  }

  .listProfileContent {
    margin-top: 40px;
  }

  .profileHeader {
    gap: 40px;
  }
}